$accent-color: #a70c5d;
$icon-inactive: #b6b6bb;
$black: #3f4147;


@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin underline($top, $margin) {
  &:after {
    margin: $margin;
    content: "";
    text-align: center;
    position: relative;
    top: $top;
    display: block;
    width: 40px;
    height: 2px;
    background-color: $accent-color;
  }
}
