@font-face {
  font-family: "GothamPro";
  src: url("fonts/GothamPro/GothamPro.eoy") format("eot"),url("fonts/GothamPro/GothamPro.woff") format("woff"),url("fonts/GothamPro/GothamPro.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "GothamPro";
  src: url("fonts/GothamProMedium/GothamProMedium.eoy") format("eot"),url("fonts/GothamProMedium/GothamProMedium.woff") format("woff"),url("fonts/GothamProMedium/GothamProMedium.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "GothamPro";
  src: url("fonts/GothamProBold/GothamProBold.eoy") format("eot"),url("fonts/GothamProBold/GothamProBold.otf") format("otf"),url("fonts/GothamProBold/GothamProBold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "GothamProBlack";
  src: url("fonts/GothamProBlack/GothamProBlack.eoy") format("eot"),url("fonts/GothamProBlack/GothamProBlack.woff") format("woff"),url("fonts/GothamProBlack/GothamProBlack.ttf") format("truetype");
}

@font-face {
  font-family: "GothamPro";
  src: url("fonts/GothamProRegular/GothamProRegular.eoy") format("eot"),url("fonts/GothamProRegular/GothamProRegular.woff") format("woff"),url("fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
  font-weight: lighter;
}

#header {
  background-color: #f5f5f5;
  width: 100%;
  padding-top: 45px;
  padding-left: 120px;
  padding-right: 60px;
  color: #3f4147;
}

#header .play-video-btn {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transition: box-shadow .2s ease-in;
  margin-left: -45px;
  margin-top: -45px;
  height: 90px;
  width: 90px;
  background-image: url("../../../../assets/img/play-btn.png");
  background-position: center;
}

#header .play-video-btn:hover {
  box-shadow: 0 4px 10px 5px rgba(0,0,0,0.2);
}

#header .header--logo img {
  width: 110px;
  height: 52px;
}

#header .main-menu {
  margin: 0 auto;
  max-width: 1260px;
  display: table;
  width: 100%;
  position: relative;
  z-index: 1;
}

#header .main-menu:after {
  content: "";
  display: table;
  clear: both;
}

#header .main-menu ul {
  text-align: right;
  text-transform: uppercase;
  display: table-cell;
  margin: 0;
  vertical-align: middle;
}

#header .main-menu ul li {
  font-weight: bold;
  list-style: none;
  display: inline-block;
}

#header .main-menu ul li:not(:last-child) {
  margin-right: 30px;
}

#header .main-menu ul li:last-child {
  margin-right: 120px;
}

#header .main-menu ul li a {
  font-size: 12px;
  font-weight: 600;
  color: #3f4147;
  transition: color .2s;
}

#header .main-menu ul li a:hover {
  color: #a70c5d;
}

#header .main-menu .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  top: -0.625em;
}

#header .main-menu .switch input {
  display: none;
}

#header .main-menu .switch a {
  display: inline-block;
  margin: 10px 1px 8px 11px;
  font-weight: bold;
  font-size: 11px;
  color: #a70c5d;
}

#header .main-menu .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 35px;
  width: 70px;
  border: 2px solid #dfdfe2;
  transition: .2s;
  border-radius: 34px;
}

#header .main-menu .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 9px;
  bottom: 5px;
  background-color: #dfdfe2;
  transition: .2s;
  border-radius: 50%;
}

#header .main-menu input:checked+.slider:before {
  transform: translateX(28px);
}

#header .header--content {
  margin: 0 auto;
  max-width: 1260px;
  position: relative;
}

#header .header--content:after {
  content: "";
  display: table;
  clear: both;
}

#header .header--content .header--content-wrapper {
  float: left;
  width: 500px;
}

#header .header--content .entry-header {
  margin-top: 75px;
  margin-bottom: 44px;
  font-size: 30px;
  font-weight: bold;
  width: 305px;
  float: left;
}

#header .header--content .entry-header:after {
  margin: "";
  content: "";
  text-align: center;
  position: relative;
  top: 33px;
  display: block;
  width: 40px;
  height: 2px;
  background-color: #a70c5d;
}

#header .header--content .header--content--text {
  font-weight: lighter;
  line-height: 1.6;
  width: 450px;
  float: left;
}

#header .header--content .header--image {
  margin-left: 93px;
  width: 40%;
  max-width: 410px;
}

.btn-round {
  cursor: pointer;
  border: 0;
  outline: none;
  float: left;
  background-color: #a70c5d;
  border-radius: 30px;
  height: 50px;
  width: 180px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  background-repeat: no-repeat;
  background-position: 17px 13px;
  margin: 33px 0;
  transition: transform  .2s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-round:hover {
  transform: translate(0, -10px);
  box-shadow: 0 25px 15px -15px rgba(0,0,0,0.25);
}

#header .header--content .header-price {
  padding-left: 30px;
  background-image: url("../../../../assets/svg/price.svg");
}

.wrapper {
  margin: 0 auto;
  max-width: 1260px;
}

.divider {
  border: 1px solid #f4f4f4;
}

.services {
  color: #3f4147;
}

.headline-wrapper .headline {
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
  margin-top: 50px;
}

.headline-wrapper .headline:after {
  margin: 0 auto;
  content: "";
  text-align: center;
  position: relative;
  top: 20px;
  display: block;
  width: 40px;
  height: 2px;
  background-color: #a70c5d;
}

.headline-wrapper .headline-text {
  width: 575px;
  text-align: center;
  margin: 0 auto 60px;
}

.services-grid {
  position: relative;
}

.services-grid:after {
  content: "";
  display: table;
  clear: both;
}

.services-grid .services-item {
  position: relative;
  border-bottom: 1px dashed #d0d1d3;
  height: 250px;
  width: 49%;
  padding-top: 30px;
  padding-left: 100px;
  padding-right: 30px;
  float: left;
}

.services-grid .services-item i {
  cursor: pointer;
  font-family: "icons";
  font-size: 44px;
  color: #a5a6ac;
  position: absolute;
  left: 30px;
  top: 35px;
  transition: color 0.25s;
}

.services-grid .services-item i:hover {
  color: #a70c5d;
}

.dotted-right:after {
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 35px;
  right: 0;
  content: "";
  height: 180px;
  width: 2px;
  border-left: 1px dashed #d0d1d3;
}

.services-grid .services-item .services-item-headline {
  font-size: 15px;
  text-transform: uppercase;
  width: 320px;
}

.services-grid .services-item .info-icon {
  display: inline-block;
  position: absolute;
  top: 40px;
  right: 80px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 2px solid #a70c5d;
  text-align: center;
}

.services-grid .services-item .info-icon:after {
  content: "i";
  font-family: "Times New Roman";
  text-transform: lowercase;
  line-height: 1.65;
  font-weight: bold;
}

.services-grid .services-item .services-item-list li {
  list-style: none;
  position: relative;
  line-height: 1.4;
}

.services-grid .services-item .services-item-list li:before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  height: 7px;
  width: 7px;
  display: block;
  border-radius: 50%;
  border: 2px solid #a70c5d;
  top: 7px;
  left: -17px;
}

.services-grid .services-price-table {
  font-size: 13px;
}

.services-grid .services-price-table span.price {
  font-weight: bold;
  font-size: 17px;
}

.services-grid .services-price-table td {
  padding-bottom: 35px;
}

.services-grid .modal {
  position: absolute;
  top: 0;
  height: 500px;
  background-color: white;
  border-right: 1px solid #ae206a;
}

.services-grid .modal:after,
.services-grid .modal:before {
  left: 100%;
  top: 14%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.services-grid .modal:after {
  border-color: transparent;
  border-left-color: #fff;
  border-width: 8px;
  margin-top: -22px;
}

.services-grid .modal:before {
  border-color: transparent;
  border-left-color: #ae206a;
  border-width: 9px;
  margin-top: -23px;
}

.services-grid .modal .modal-headline {
  text-align: left;
  padding-top: 15px;
  padding-bottom: 15px;
}

.services-grid .modal .row-name {
  vertical-align: middle;
  padding-right: 30px;
  font-size: 12px;
  font-family: "GothamProBlack";
  text-transform: uppercase;
}

.services-grid .modal .btn-order {
  margin-left: 90px;
}

.testimonials:after {
  content: "";
  display: table;
  clear: both;
}

.testimonials .feedback-item {
  min-height: 317px;
  padding-left: 15px;
  margin-top: 15px;
  width: 33%;
  float: left;
}

.testimonials .feedback-item:hover .feedback-name,
.testimonials .feedback-item:hover .feedback-content:before {
  color: #a70c5d;
}

.testimonials .feedback-item .feedback-content {
  position: relative;
  margin: 0 0 15px;
  padding-right: 80px;
  padding-top: 45px;
  line-height: 1.47;
}

.testimonials .feedback-item .feedback-content:before {
  font-family: "icons";
  color: #c9cacf;
  content: "\e909";
  position: absolute;
  top: 10px;
  transition: color 0.3s;
}

.testimonials .feedback-item .feedback-video:before {
  content: "\e908";
  font-size: 19px;
  top: 5px;
}

.testimonials .feedback-item .feedback-video-preview {
  content: "";
  cursor: pointer;
  display: block;
  position: absolute;
  top: 50%;
  left: 35%;
  background-image: url("../../../../assets/img/play-btn-dark.png");
  background-repeat: no-repeat;
  width: 42px;
  height: 42px;
}

.testimonials .feedback-item .feedback-img {
  margin-top: 50px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.testimonials .feedback-name {
  font-size: 13px;
  font-weight: bold;
  transition: color 0.2s;
}

.testimonials .feedback-position {
  font-size: 12px;
}

.testimonials .feedback-position span {
  color: #a70c5d;
}

.testimonials .load-more-btn {
  width: 130px;
  margin: 0 auto;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.testimonials .load-more-btn:hover i.icon-loadmore:before {
  transition: transform .4s ease-in-out;
  transform: rotate(360deg);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "GothamPro";
  font-size: 15px;
}

a {
  text-decoration: none;
}